{% extends 'store/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'store/style.css' %}">
    </head>
<body>
    {% block body %}
        <div class="row">
            {% for product in item %}
            <div class="col-md-2">
                <div class="card">
                    <img src="{{product.image}}" class="card-img-top">
                    <div class="card-body">
                        <div id = "nm{{product.id}}" class="product-title">{{product.name}}</div>
                        <span class="a-letter-space"></span>
                        <div id="price{{product.id}}"class="product-disc_price">{{product.discount_price}}</div>
                        <div class="product-price" style = "text-decoration:line-through;">
                            <span class="a-price-symbol">₹</span>
                            {{product.price}}
                        </div>
                        <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                        <button id="{{ product.id }}" class="btn btn-warning atc">Add to cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <span class="a-letter-space"></span>

        <div class="row">
            <div class="col-md-2 offset-md-5">
                <ul class="pagination">
                    {% if item.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ item.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ item.number }}">Current</a>
                    </li>

                    {% if item.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ item.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
</body>
</html>